<?xml version="1.0" encoding="utf-8"?><Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><SettingsVersion>1.18</SettingsVersion><ShouldLoadCredentials>false</ShouldLoadCredentials><Username /><Password /><RememberConverterSettings>true</RememberConverterSettings><OutputToHtml>true</OutputToHtml><OutputToPdf>false</OutputToPdf><UseContentScanner>false</UseContentScanner><ConverterOptions><FirstImageIsAlignedRight>true</FirstImageIsAlignedRight><ReplaceImageWithAltWithCaption>false</ReplaceImageWithAltWithCaption></ConverterOptions></Settings>